<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Employee Directory</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Employee Directory</h1>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
